.container {
  width: 60%;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
}

input:focus {
  border: 2px solid rgb(124, 124, 252);
}

button {
  cursor: pointer;
  padding: 8px 12px;
  color: white;
  background-color: #42a948;
  border: 0;
  border-radius: 6px;
  font-weight: bold;
  font-size: 14px;
}

table {
  margin-top: 20px;
  border-spacing: 30px 15px;
}

thead {
  text-align: left;
}
